ion-menu-button {
  color: var(--ion-color-primary);
}
.availabe-card{
  border-left: 5px solid green;
  color: green;
}
.absent-card{
  border-left: 5px solid red;
  color: red;
}
.empLists{
  font-size: 0.8em;
}
.card-inner-success {
  padding: 2px;
  border: 1px solid #008000;
  border-radius: 10px;
}
.card-inner-danger {
  padding: 2px;
  border: 1px solid #ff0000;
  border-radius: 10px;
}